* {
    box-sizing: border-box;
}

body {
    width: 375px;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 1;
    font-size: 40px;
}

main{
    width: 100%;
    margin-top: 106px; /* 80+26 */
    margin-bottom: 80px;
    font-size: 14px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main li{
    padding: 15px 8px;
    margin-bottom: 4px;
    line-height: 16px;
    word-break: break-word;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 80px;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 1;
}

footer button{
    font-size: 30px;
    margin-bottom: 0 0 -5px 5px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    text-align: inherit;
}

footer input{
    background: none;
    color: inherit;
    border: none;
    height: 50px;
    width: 300px;
    text-align: inherit;
}

.public-message{
    background-color: #FFFFFF;
}

.private-message{
    background-color: #FFDEDE;
}

.status-message{
    background-color: #DCDCDC;
}

.message-box input::placeholder{
    font-style: italic;
    font-size: 16px;
    color: lightgray;
}

